img
{
	border-color:black;
	border:solid thick grey;

}
.properties div div{
	display: inline-block;
}
.properties div div:first-child{
	font-weight: bold;
}
.nav_button{
	border:solid thin black;
	padding:1ex;
	margin: 1ex;
	border-radius: 0.5ex;
	width:15ex;
	text-align: center;
	display: inline-block;

}
ul#sort a:link{
	background-color: #3366BB;
	color:white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
}
ul#sort a:hover{
	background-color: green;
}